<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock Predictor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    </head>
    <body>
        <div class="container-fluid no-padding">
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-md">
                        <a class="navbar-brand" href="#">
                            <span class="display-6">{{ stock }} predictions</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9 vh-100">
                    <!--for stock graph-->
                    <div class="row">
                        <!--<img src="https://miro.medium.com/v2/resize:fit:1013/1*4fu8Ggh1xnkCm1vjgUKGMg.png" class="img-fluid">-->
                        <canvas id="stock-chart"></canvas>
                    </div>

                    <!--for predicted values-->
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">MODEL</th>
                                    <th scope="col">Predicted Value</th>
                                    <th scope="col">MSE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Linear Regression</th>
                                    <td id="sklearn-value"></td>
                                    <td id="sklearn-mse"></td>
                                </tr>
                                <tr>
                                    <th scope="row">RNN</th>
                                    <td id="pytorch-value"></td>
                                    <td id="pytorch-mse"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-3">
                    
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/chart.js') }} "></script>
    </body>
</html>